﻿<!doctype html>
<html ng-app="testApp">
    <body ng-controller="TestCtrl">
        <div>
            <label for="name">Name:</label>
            <input id="txtName" type="text" placeholder="John" ng-model="user.Name" />
        </div>
        <div>
            <label for="name">Username:</label>
            <input id="txtUsername" type="text" placeholder="Username" ng-model="user.Username "/>
            <span style="color: red;" ng-if="isValid != null && !isValid">Username already exists!</span>
        </div>
        <div>
            <button type="button" id="btnCheck" ng-click="checkUsername()">Check username</button>
            <button type="button" id="btnSave" ng-click="saveUser()">Save user</button>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="~/Scripts/app.js"></script>
    </body>
</html>